img {
    width: 150px;
    height:auto;
}

nav {
    background-color: #151217 ;
    width: 100%;
    
    
}

#logo {
    color: #DA001E;
    font-family: "Bubbleboddy Neue Trial", normal;
    font-size: 50px;
    margin-left: 2px;
    
}




.nav-link{
    color: #DA001E;
    font-family: "Comfortaa", normal;
    font-size:large;
    
  
}




