@font-face {
	font-family: "Bubbleboddy neue";
	src: url('../fonts/bubbleboddyneue-regular\ trial.ttf') format(‘truetype’);
}

@font-face {
	font-family: "Comfortaa";
	src: url('../fonts/Comfortaa-Regular.ttf') format(‘truetype’);
}


p {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
  }

h1 {
  font-family: "Bubbleboddy neue", sans-serif;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }