@font-face {
	font-family: "Bubbleboddy neue";
	src: url('../../fonts/bubbleboddyneue-regular\ trial.ttf') format(‘truetype’);
}

@font-face {
	font-family: "Comfortaa";
	src: url('../../fonts/Comfortaa-Regular.ttf') format(‘truetype’);
}

article {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    color: #151217;
  }

h2 {
    font-family: "Bubbleboddy neue", sans-serif;
    text-align: center;
    font-size: 500;
    font-weight: bold;
    text-decoration: underline;
      color: #DA001E;
      padding-bottom: 2%;
    
  }

img {
    width: 20%;
   height: auto;
  }