/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Bubbleboddy Neue Trial";
	src: url('.././src/assets/fonts/bubbleboddyneue-regular\ trial.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url('.././src/assets/fonts/Comfortaa-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 40px;
  box-sizing: inherit;
  position: relative;
  color: #151217;
  background-color: #F9D0A3;
}
