
#presentation {
  width: 80%;
  background-color: #FDD90B;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  margin: auto;
}

p {
    margin: 0;
    font-family: "Comfortaa", normal;
  }

h1 {
  font-family: "Bubbleboddy Neue Trial", normal;
  
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  text-decoration: underline;
    color: #DA001E;
    padding-bottom: 2%;
}

h2 {
  font-family: "Bubbleboddy Neue Trial", normal;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
    color: #DA001E;
    padding-bottom: 2%;
  
}

img {
    width: 100%;
    max-height: 200px;
    /*height: auto;*/
  }

h5 {
    font-family: "Bubbleboddy Neue Trial", normal;
    text-decoration: underline;
    color: #DA001E;
    font-weight: bold;
  }

  .card {
    background-color: #FDD90B;
  }

  #product {
    width: 80%;
       
  }

  #tri {
    margin-top: 2%;
    margin-bottom: 2%;
    
  }

  h3 {
    font-family: "Bubbleboddy Neue Trial", normal;
    text-decoration: underline;
    color: #DA001E;
    font-weight: bold;
    font-size: 20px;
  }






 